adf-pipelines/pipeline_for_lookup.json
{
    "name": "pipeline_for_lookup",
    "properties": {
        "activities": [
            {
                "name": "Lookup_GetTables",
                "type": "Lookup",
                "typeProperties": {
                    "source": {
                        "query": "SELECT schema_name, TABLE_NAME FROM information_schema.tables WHERE table_schema = 'onprem_retail_db' AND table_type = 'BASE TABLE'",
                        "queryTimeout": "02:00:00"
                    },
                    "dataset": {
                        "referenceName": "DS_MySQL_Tables",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_GetTables",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_GetTables').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "ccopy each table",
                            "type": "Copy",
                            "typeProperties": {
                                "source": {
                                    "type": "MySqlSource",
                                    "query": {
                                        "value": "@concat('SELECT * FROM ', item().schema_name, '.', item().TABLE_NAME)",
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "DS_MySQL_Source",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "schemaName": {
                                            "value": "@item().schema_name",
                                            "type": "Expression"
                                        },
                                        "tableName": {
                                            "value": "@item().TABLE_NAME",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DS_Parquet_Sink",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "schemaName": {
                                            "value": "@item().schema_name",
                                            "type": "Expression"
                                        },
                                        "tableName": {
                                            "value": "@item().TABLE_NAME",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}
